<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/cadastro.css">
</head>
<body>
    
    <section>


        <div class="fundo">
            <img src="../static/arquivo_imagem/a0147dd14f79aa9befa8a5268d6f9f9b.jpg" alt="">
        </div>
        <form action="cadastro.html" method="post" enctype="multipart/form-data">
    
            <h2 class="h2">Learn To Me</h2><br><br>
            <p>Cadastra-se</p>

            <input type="text" name="nome" placeholder="digite seu nome" required>
            <input type="text" name="apelido" placeholder="digite seu apelido" required>
            <input type="password" name="senha" placeholder="digite sua senha" required>
            <input type="tel" placeholder="digite seu terminal" name="tel" required>
            <label for="foto">Insira uma foto</label>
            <input type="file" placeholder="digite sua foto" name="foto" required contextmenu="lola">
            <button type="submit">enviar</button>
        </form>

    </section>

</body>
</html>